

.close_state{
    width: auto;
    transition-duration: 0.8s;
    transition-timing-function: ease-out;
    transition-property: width;

}

.open_state{
    width: 60%;
    transition-duration: 0.8s;
    transition-timing-function: ease-out;    
    transition-property: width;
}


